html {
    margin: 0 auto;
}

.container {
    background-image: url(https://images.unsplash.com/photo-1543748913-1475f9c44ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0197e292db44a8b0f4f421026cbd68a8&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    max-width: 1280px;
    max-height: 858px;
    margin: 0 auto;
}

.contained {
    width: 80%;
    margin: 20% auto;
    padding: 20px 30px 250px 30px;
    background-color: rgba(11, 11, 11, .7);
}

h1 {
    text-align: center;
    font-family: Unlock;
    color: rgb(204, 203, 203);
}

a {
    text-decoration: none;
    width: 33.333333%;
    padding: 2% 5%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    color: rgb(204, 203, 203);
}

.stumpy {
    width: 100%;
}
